*{
    margin: 0px;
    padding: 0px;
}

.branding{
  width: 25px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;  
}

footer#f-Index{
    width: 100%;
    height: auto;
    background-color: #b8bdb5;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
        'productos service info seguir'
        'copyR copyR copyR copyR'
    ; 
}

footer#f-Index div.area1{
    grid-area: productos;
}

footer#f-Index div.area2{
    grid-area: service;
}

footer#f-Index div.area3{
    grid-area: info;
}

footer#f-Index div.area4{
    grid-area: seguir;
}

footer#f-Index div.area5{
    grid-area: copyR;
    margin: auto;
    padding-top: 2rem;
}

@media(min-width: 200px) and (max-width: 768px){
    footer#f-Index{
        width: 100%;
        height: auto;
        background-color: #000;
        color: white;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        display: grid;
        grid-template-areas: 
            'productos'
            'service'
            'info'
            'seguir'
            'copyR'
        ; 
    }
    
    footer#f-Index div.area1{
        grid-area: productos;
    }
    
    footer#f-Index div.area2{
        grid-area: service;
    }
    
    footer#f-Index div.area3{
        grid-area: info;
    }
    
    footer#f-Index div.area4{
        grid-area: seguir;
    }
    
    footer#f-Index div.area5{
        grid-area: copyR;
        margin: auto;
        padding-top: 2rem;
    }
}








