@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F1F1F1;
}

header div.container-header img {
  width: 100%;
  height: 550px;
}

main h1.container__titulo {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  color: gray;
}
main h1.container__titulo:hover {
  text-shadow: 2px 2px gainsboro;
}
main .container__galeria {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
main .container__galeria .container__galeria--tarjeta {
  width: 400px;
  height: auto;
}
main .container__galeria .container__galeria--tarjeta:hover {
  box-shadow: 2px 2px 30px lightgray;
}
main .container__galeria .container__galeria--tarjeta--img img {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}
main .container__galeria p.container__galeria--tarjeta--title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  text-align: center;
}
main .container__galeria div.info__text {
  width: auto;
  height: auto;
  padding: 0 3rem;
  text-align: center;
}
main .container__galeria div.info__text ul.info__text--list {
  list-style: none;
  margin-bottom: 1rem;
  text-align: left;
  font-size: smaller;
  font-weight: 600;
}
main .container__galeria div.info__text button.btn__comprar {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0.3px solid grey;
  background-color: #09f;
  border-color: #008ae6;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
main .container__galeria div.info__text button.btn__comprar:hover {
  background-color: transparent;
  color: #000;
  border-color: #000;
}

@media (min-width: 300px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  header div.container-header img {
    width: 100%;
    height: auto;
  }
  main h1.container__titulo {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    color: gray;
  }
  main h1.container__titulo:hover {
    text-shadow: 2px 2px gainsboro;
  }
  main .container__galeria {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
  }
  main .container__galeria .container__galeria--tarjeta {
    width: 300px;
    height: auto;
  }
  main .container__galeria .container__galeria--tarjeta--img img {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
  }
  main .container__galeria p.container__galeria--tarjeta--title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  main .container__galeria div.info__text {
    width: auto;
    height: auto;
    padding: 0 3rem;
    text-align: center;
  }
  main .container__galeria div.info__text ul.info__text--list {
    list-style: none;
    margin-bottom: 1rem;
    text-align: left;
    font-size: smaller;
    font-weight: 600;
  }
  main .container__galeria div.info__text button.btn__comprar {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0.3px solid grey;
    background-color: #09f;
    border-color: #008ae6;
    color: #fff;
    font-size: 0.8rem;
  }
  main .container__galeria div.info__text button.btn__comprar:hover {
    background-color: transparent;
    color: #000;
    border-color: #000;
  }
}
/*estilos pagina de contacto*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container__form {
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
#container__form .card {
  width: 100%;
  height: 100%;
  background-image: url("../img/banner/img-formulario.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#container__form .contacto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container__form .contacto .contacto__text {
  width: 300px;
  text-align: left;
}
#container__form .contacto .contacto__text .contacto__text--parraf {
  font-size: small;
  font-weight: bold;
  color: gray;
  margin-top: 5px;
}
#container__form .contacto .contacto__campo {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 30px;
}
#container__form .contacto .contacto__campo .contacto__campo--label {
  font-size: small;
  font-weight: bold;
  padding-bottom: 0.3rem;
  color: gray;
}
#container__form .contacto .contacto__campo .contacto__campo--input {
  padding: 5px 20px;
  box-sizing: border-box;
  border: 0.5px solid grey;
  border-radius: 2px;
}
#container__form .contacto__btn .contacto__btn--style {
  margin-top: 1.5rem;
  padding: 10px 25px;
  background-color: #008ae6;
  color: #fff;
  border: 0.5px solid #09f;
  border-radius: 5px;
  cursor: pointer;
}
#container__form .contacto__btn .contacto__btn--style:hover {
  background-color: #fff;
  color: #000;
  border: 0.5px solid #000;
}

/*mediaQueries pagina de contacto*/
@media (min-width: 300px) and (max-width: 768px) {
  #container__form {
    width: 100%;
    height: auto;
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "imagen" "formulario";
  }
  #container__form .card {
    width: auto;
    grid-area: imagen;
  }
  #container__form .contacto {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    grid-area: formulario;
  }
}
/*diseño 404 Error*/
.body__404 {
  background-image: url("../img/banner/error404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.cont__404 {
  color: white;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */